@use "../global" as global;
.u-new-articles__archive-link-new-article {
  margin-left: auto;
  margin-top: 35px;

  @include global.mq(lg) {
    margin-top: 48px;
  }
}

.u-new-articles__archive-link-all-article {
  margin-top: 20px;
  margin-inline: auto;

  @include global.mq(lg) {
    margin-top: 32px;
    margin-inline: initial;
    margin-left: auto;
  }
}
