@use "../global" as global;
.p-404 {
}

.p-404__inner {
  max-width: calc(350px + 20px * 2);
  padding-inline: 20px;
  margin-inline: auto;

  @include global.mq(lg) {
    max-width: calc(1016px + 20px * 2);
  }
}

.p-404__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 56px 20px;
  border-radius: 24px;
  background-color: global.$color-main-4;
  box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.05);

  @include global.mq(lg) {
    padding: 77px 88px;
  }
}

.p-404__img {
  display: block;
  margin-inline: auto;
  width: 89.143px;
  height: 48px;
}

.p-404__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;

  @include global.mq(lg) {
  }
}

.p-404__title-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 2.4px;
  color: global.$color-accent-1;

  @include global.mq(lg) {
    font-size: 34px;
    letter-spacing: 3.4px;
  }
}

.p-404__title-number {
  font-size: 80px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 8px;
  color: global.$color-main-1;

  @include global.mq(lg) {
    font-size: 100px;
    letter-spacing: 10px;
  }
}

.p-404__main-text-1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 2px;

  @include global.mq(lg) {
    font-size: 24px;
    letter-spacing: 2.4px;
    text-align: center;
  }
}

.p-404__main-text-2 {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 1.5px;

  @include global.mq(lg) {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
  }
}

.p-404__link {
  display: block;
  margin-inline: auto;
  max-width: 185px;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1.12px;
  border-radius: 16px;
  background-color: global.$color-main-1;
  color: global.$color-main-4;
  text-align: center;
  border: 2px solid global.$color-main-4;
  transition: 0.3s;

  @include global.mq(lg) {
    padding: 16px 24px;
    max-width: 271px;
    font-size: 24px;
    letter-spacing: 1.92px;
  }

  &:hover {
    border-color: global.$color-main-1;
    color: global.$color-main-1;
    background-color: transparent;
  }
}
