@use "../global" as global;
.p-cta {
  background-image: url(../img/cta-background.png);
}

.p-cta__inner {
  padding: 70px 20px 51px;
  max-width: calc(310px + 20px * 2);
  margin-inline: auto;

  @include global.mq(lg) {
    padding: 116px 20px 91px;
    max-width: calc(842px + 20px * 2);
  }
}

.p-cta__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 65px;

  @include global.mq(lg) {
    flex-direction: row;
    gap: 20px;
  }
}

.p-cta-link {
  display: block;
  width: fit-content;
  height: fit-content;
  position: relative;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    transform: translateY(8px);
  }
}

.p-cta-link__head {
  position: absolute;
  left: 0;
  border-radius: 8px 8px 8px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  border: 1px solid global.$color-main-4;
  z-index: map-get(global.$layer, cta-link);

  @include global.mq(lg) {
    font-size: 18px;
  }
}

.p-cta-link__body {
  position: relative;
  border-radius: 8px;
  font-family: global.$ff-sub;
  border: 1px solid global.$color-main-4;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;

  @include global.mq(lg) {
    font-size: 24px;
    border-radius: 12px;
    border-width: 2px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
}

.p-cta-link:nth-child(1) {
  .p-cta-link__head {
    padding: 6px 16px;
    top: -32px;
    background-color: global.$color-accent-6;
    color: global.$color-main-4;

    @include global.mq(lg) {
      top: -45px;
      padding: 8px 16px;
    }
  }

  .p-cta-link__body {
    padding: 7px 40px 9px 19px;
    background-color: global.$color-main-4;
    color: global.$color-accent-1;
    letter-spacing: 0.36px;

    @include global.mq(mini) {
      padding: 12px 34px 13px 20px;
    }

    @include global.mq(lg) {
      padding: 12px 66px 13px 28px;
    }

    &::before {
      width: 18px;
      height: 18px;
      background: url(../img/cta-arrow-blue.png) no-repeat center center/contain;

      @include global.mq(mini) {
        right: 10px;
      }

      @include global.mq(lg) {
        width: 24px;
        height: 24px;
        right: 30px;
      }
    }
  }
}

.p-cta-link:nth-child(2) {
  .p-cta-link__head {
    padding: 5px 16px;
    top: -29px;
    background-color: global.$color-main-4;
    color: global.$color-accent-1;

    @include global.mq(lg) {
      top: -42px;
    }
  }

  .p-cta-link__body {
    padding: 7px 39.5px 9px 22px;
    color: global.$color-main-4;
    letter-spacing: 1.44px;

    @include global.mq(mini) {
      padding: 7px 39.5px 9px 22px;
    }

    @include global.mq(lg) {
      padding: 12px 55px 13px 28px;
      font-size: 24px;
      letter-spacing: 1.92px;
    }

    &::before {
      width: 23.5px;
      height: 22px;
      background: url(../img/cta-arrow-white.png) no-repeat center center/contain;

      @include global.mq(lg) {
        width: 19.5px;
        height: 37px;
        right: 27px;
      }
    }
  }
}
