@use "../global" as global;
.p-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: map-get(global.$layer, header);
}

.p-header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.p-header__logo {
}

.p-header__logo-link {
  display: block;
  width: fit-content;
  height: fit-content;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.p-header__nav {
  display: none;
  background-color: global.$color-accent-1;
  border-radius: 0px 0px 0px 32px;
  width: 100%;

  @include global.mq(lg) {
    display: block;
    max-width: 800px;
  }

  @include global.mq(xl) {
    max-width: 984px;
  }
}

.p-header__nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc((48px / 984px) * 100%);

  @include global.mq(lg) {
    padding: 24px 20px;
  }

  @include global.mq(xl) {
    padding: 24px calc(64px / 984px) * 100%;
  }
}

.p-header__nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 404px;
  gap: 10px;

  @include global.mq(lg) {
    max-width: 350px;
  }

  @include global.mq(xl) {
    max-width: 404px;
  }
}

.p-header__nav-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: global.$color-main-4;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.p-header__nav-cta {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @include global.mq(xl) {
    gap: 32px;
  }
}

.p-header__nav-cta-link {
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    transform: translateY(4px);
  }
}

.p-header__nav-cta-link-img {
  display: block;
  width: 120px;

  @include global.mq(xl) {
    width: 152px;
  }
}

.p-header__btn-area {
  transition: 0.3s;
  background-color: global.$color-accent-1;
  border-radius: 0px 0px 0px 28px;

  @include global.mq(lg) {
    display: none;
  }
}

.p-header__btn-area-inner {
  display: flex;
}

.p-drawer-icon {
  // position: relative;
  // width: 36px;
  // height: 24.3px;

  // &.is-checked {
  //   .p-drawer-icon__bar {
  //     &:nth-child(1) {
  //       top: 10.7px;
  //       transform: rotate(30deg);
  //     }

  //     &:nth-child(2) {
  //       display: none;
  //     }

  //     &:nth-child(3) {
  //       top: 10.7px;
  //       transform: rotate(-30deg);
  //     }
  //   }
  // }
}

.p-drawer-icon__img {
  width: 36px;
  height: 24.3px;
}

// .p-drawer-icon__bar {
//   position: absolute;
//   background-color: global.$color-main-4;
//   width: 100%;
//   height: 2.7px;
//   border-radius: 10px;
//   left: 0;
//   transition: 0.3s;

//   &:nth-child(1) {
//     top: 0;
//   }

//   &:nth-child(2) {
//     top: 10.7px;
//   }

//   &:nth-child(3) {
//     top: 21.4px;
//   }
// }

.p-header__search-btn-img {
}

.p-drawer-content {
  width: 100%;
  max-width: 240px;
  padding: 80px 24px 32px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: global.$color-accent-1;
  border-radius: 0px 0px 0px 24px;
  transform: translateX(100%);
  transition: 0.3s;
  // z-index: map-get(global.$layer, drawer-content);
  z-index: 30;

  &.is-show {
    transform: translateX(0);
  }
}

.p-drawer-content__lists {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.p-drawer-content__link {
  color: global.$color-main-4;
}

.p-drawer-content__icon-area {
  position: relative;
  width: 100%;
}

.p-drawer-content__icon {
  position: absolute;
  top: -56px;
  right: 0;
}

.p-drawer-content__icon-img {
  width: 36px;
  height: 24.3px;
}
