@use "../global" as global;
.p-new-articles {
  margin-block: 40px;
}

.p-new-articles__inner {
  max-width: calc(302px + 20px * 2);
  padding-inline: 20px;
  margin-inline: auto;

  @include global.mq(lg) {
    max-width: calc(1034px + 20px * 2);
  }
}

.p-new-articles__content {
  margin-top: 32px;

  @include global.mq(lg) {
    margin-top: 48px;
  }
}

.p-new-articles__links {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include global.mq(lg) {
    flex-direction: row;
    justify-content: space-between;
    // gap: calc((60px / 1034px) * 100%);

    .c-articles-card {
      width: 33%;
      max-width: 302px;
    }
  }
}

