@use "../global" as global;
.p-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-top: 32px;
  margin-inline: auto;
  max-width: 250px;

  @include global.mq(lg) {
    margin-top: 56px;
  }

  //   リンクになっている箇所の身ホバースタイルを適用する
  a {
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.page-numbers {
  display: inline-block;
  padding-inline: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 3px;
  min-width: 28px;
  height: 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  color: global.$color-main-3;

  &.current {
    background: global.$color-main-1;
    color: global.$color-main-4;
  }

  &.prev,
  &.next {
    position: relative;
    background-color: global.$color-main-1;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    &::before {
      content: "";
      width: 23px;
      height: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.prev {
    &::before {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: url(../img/pagination-arrow-prev.png) no-repeat center center/contain;
    }
  }

  &.next {
    &::before {
      right: 50%;
      transform: translateX(50%) translateY(-50%);
      background: url(../img/pagination-arrow-next.png) no-repeat center center/contain;
    }
  }
}
